* {
  box-sizing: border-box;
  margin: 0%;
}
.navb {
  background-color: #eee;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.butt {
  margin-right: auto;
  font-weight: bold !important;
}
.logo {
  width: 89.41px;
  height: 60px;
}
.sear {
  margin-left: auto;
}
.name {
  margin-right: 65px;
  text-shadow: 2px 0px 10px #33313b;
}
.cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  /*max-width: 1250px;*/
  padding: 50px;
  background-color: #33313b;
}
.cd {
  margin-top: 2%;
  width: 80vw !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ft {
  background-color: #eee;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
}
.formItems {
  width: 50%;
}
#formCont {
  padding-left: 15%;
  padding-top: 3%;
  background-color: #d3d5fd;
}
.sub {
  margin-left: 19%;
}

.para {
  /* width: 60%;
  margin-top: 5%;
  margin-left: 25%;
  margin-bottom: 9.9%;*/
  /* background-image: url("https://b.zmtcdn.com/data/pictures/8/16502668/4bdc68cd594b846c132cc69d75205010.jpg");*/
  background-image: url("about.jpg");
  background-size: 100%;
  background-repeat: repeat;
  padding: 10.5%;
  height: 100%;
}
.textt {
  font-size: 18pt;
  letter-spacing: 1px;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px 15px #000000;
  text-align: justify;
}
.con {
  height: 54px;
  color: #007bff !important ;
}
.image {
  height: 400px;
}
li {
  font-size: 14pt;
}
/*****************************/

#blueBar {
  width: 100%;
  min-height: 32px;
  background-color: #eee;
  color: black;
  position: relative;
  font-weight: bold !important;
}

.alter {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  animation: spin 10s linear infinite normal;
  font-size: 12px;
}

.one {
  z-index: -1;
  animation-delay: 0s;
}

.two {
  animation-delay: 2.5s;
  z-index: -1;
}

.three {
  animation-delay: 5s;
  z-index: -1;
}

.four {
  animation-delay: 7.5s;
  z-index: -1;
}

@keyframes spin {
  0% {
    z-index: 1;
  }

  33.33% {
    z-index: -1;
  }

  66.66% {
    z-index: -1;
  }
  100% {
    z-index: -1;
  }
}
/**********************/

.containerr:hover .overlay {
  opacity: 0.8;
}
.containerr {
  position: relative;
  width: 50%;
  z-index: 2;
}

.imagee {
  display: block;
  width: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #33313b;
}
.text {
  color: white;
  text-shadow: 3px 3px 5px white;
  font-size: 20pt;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
